<div data-controller="counter">
  <h1 class="font-bold text-4xl">Simple Counter</h1>
  <button data-action="click->counter#decrease" class="w-full bg-green-300 text-white font-medium py-2 px-2 rounded-md mt-4 mb-4">-</button>
  <span data-counter-target="count"><%= @count %></span>
  <button data-action="click->counter#increase" class="w-full bg-green-400 text-white font-medium py-2 px-2 rounded-md mt-4">+</button>
  
</div>
